body{
margin:0;
font-family: Arial;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#2d548b;
color:white;
padding:15px 40px;
}

.menu a,
.auth a{
margin:0 10px;
color:white;
text-decoration:none;
}

/* Product Section */

.product-container{
display:flex;
justify-content:center;
align-items:center;
padding:50px;
background:#eee;
}

.product-image img{
width:350px;
}

.product-details{
width:500px;
margin-left:60px;
}

.product-name{
color:#c51f3a;
}

.price{
margin-top:20px;
}

/* Footer */

.footer{
background:#2d548b;
color:white;
text-align:center;
padding:15px;
}